<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home EJS </title>
</head>
<body>
    

    <h1> This is the home page</h1>
   <h1><%= 2*4 %></h1>

   <h3> <%= "kasdjhkbf".toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ullam repellendus odit explicabo vero quaerat excepturi consectetur neque corporis molestias, ab facere! Aut eligendi suscipit sunt a ullam nesciunt delectus aliquam, omnis vitae culpa.</p>
    <button type="Clik me"></button>
</body>
</html>