<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>

</head>
<body>
    
    <h1>this page is Instagram <%= username %></h1>

    <button>Follow</button>
    <button >
        Message
    </button>

    <H1>accont that follow you</H1>
    <ul>
        <% foollowrs.forEach(foollower => { %>
            <li><%= foollower %></li>
        <% }) %>
    </ul>
    

</body>
</html>